

<div class="categoryImageMiniWrapper">
  <%= link_to image_tag(@category.img_url, class: "categoryImageMini"), root_path %><span class="categoryMiniSpan"><%= @category.food_catagory %><span>
</div>
