

body {
  background: url("https://s-media-cache-ak0.pinimg.com/originals/2c/93/81/2c9381fb2a011da357e9f4550cd2a826.jpg")no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  flex-direction: column;

}

footer{
  padding-bottom: 20px;
  transition: all 0.6s linear;
}

footer:hover{
  box-shadow: inset 0px -139px 60px -108px brown;
  filter: drop-shadow(1px 1px 1px gold);

}


a{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 3px black;
}


.logoWrapper {
  text-align: center;
  border-bottom: groove 5px brown;
  background: url("background.png") no-repeat white;
  background-size: 80%;
  background-position: center top;
}

.logo {
  width: 50%;
  margin-top: 20px;
  transition: all 0.7s ease;
}

.logoMini {
  width: 20%;
  margin-top: 20px;
  transition: all 0.7s ease;
}

.logo:hover, .logoMini:hover {
  filter: drop-shadow(5px 3px 2px rgba(233, 16, 19, 0.79));
}




.mainNav {
  display: flex;
  justify-content:space-around;
  border-bottom: groove 5px grey;
  margin-bottom: 40px;
}

.mainNavMenu, .logoNavMenu {
  font-size: 150%;
  margin: 0 0.5px;
  width: 100%;
  padding: 5px;
  background-color: rgba(244, 183, 0, 0.6);
  transition: all 0.4s linear;
}

.logoNavMenu{
  width: 100px;
  box-shadow: inset 0px -90px 90px -80px rgba(230,55,55,1);
}

.logoNav {
  width: 95px;
  vertical-align: middle;
  transition: all 0.2s linear;
}

.mainNavMenu:hover  {
  box-shadow: inset 0px -90px 90px -80px rgba(230,55,55,1);
}

.logoNav:hover  {
    filter: drop-shadow(1px 1px 1px white);
}






.mainBody {
  width: 80%;
  margin: 0 auto;
  flex: 1;
}

.categoryContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:80%;
  margin: 0 auto;
}


.categoryWrapper {
  display: inline-block;
  position: relative;
}

.categoryImageIndex {
  width: 100px;
  height: 100px;
  border: groove 5px grey;
  margin: 5px 15px 5px 15px;
  border-radius: 15px;
  filter: drop-shadow(3px 2px 1px black);
  opacity: 0.7;
  transition: all 0.7s ease;
}

.categoryIndexText {
  position:relative;
  visibility:hidden;
  text-align: center;
  bottom: 90px;
  font-size: 30px;
  text-shadow: 2px 2px 2px red;
  color: white;
  min-width: 100px;
}

.categoryWrapper:hover > * > * {
  visibility:visible;
  font-size: 30px;
  opacity: 1;
  width: 105px;
  height: 105px;
  box-shadow: inset 0px -139px 60px -112px rgba(230,55,55,1);
  filter: drop-shadow(1px 3px 10px yellow);
}

.categoryImageMiniWrapper{
  display: flex;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, red , rgba(30,255,255,0.2));
  border-image-slice: 1;
}

.categoryImageMini {
  width: 70px;
}

.categoryMiniSpan {
  margin:7px 0 0 0;
  font-size: 50px;
  color: black;
  text-shadow: 2px 2px 5px green;
}



.formContainer {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 30px;
  padding: 10px 40px 30px 40px;
  margin-bottom: 50px;
}

.formDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%
}

.formTextLabel {
  width: 100%;
  margin-right: 30px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 8px orange;
}
.categoryImageTag {
  width: 50px;
  margin-left: 5px;
  filter: drop-shadow(1px 1px 1px brown);
}
.categoryImageTag:hover {
  filter: drop-shadow(1px 3px 5px gold);
}

.radioButtonLabel {
  width: 30px;
}

.radioButtonLevelLabel {
  margin-left: 20px;
}

.formTextInput {
  height: 30px;
  width: 100%;
}

.submitButton {
  font-weight: bold;
  font-size: 15px;
  width: 100px;
}

input[id="DirectionFormCheckBox"]:checked + label {
  display:none;
}

input[id="ingredientFormCheckBox"]:checked + label {
  display:none;
}







.indexRecipeImageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 30px;
  padding: 10px 40px 30px 40px;
  margin:30px 0 50px 0;
  min-height: 300px;
}
/*.recipesIndexTitleContainer{
  background: url("watercolor.png")no-repeat center;
  background-size: contain;
}*/
.recipesIndexTitle {
  font-size: 50px;
  font-weight: normal;
  filter: drop-shadow(3px 2px 3px brown);
  margin: 0;
}

.indexRecipeImageDiv{
  margin: 20px 10px 0 10px;
  transition: all 0.7s ease;
  border-radius: 15px
}


.indexRecipeImage {
  width:280px;
  height: 180px;
  border: groove 5px grey;
  border-radius: 15px 15px 0 0;
  margin-top: 20px;
  filter: drop-shadow(3px 2px 1px black);
  opacity: 0.75;
  transition: all 0.7s ease;
}

.indexRecipeImageDiv:hover {
  box-shadow: inset 0px -170px 60px -102px rgba(230,55,55,1);
}

.indexRecipeImage:hover {
  opacity: 1;
}

.indexRecipe,.indexRecipeSmall, .recipeIndexText {
  margin: 0;
  width:280px;
  border: groove 5px rgba(	128,128,128, 0.7);
}

.recipeIndexText{
  font-size: 20px;
  font-weight: bold;
  height:50px;
  overflow:hidden;
  filter: drop-shadow(2px 2px 2px orange);
}

.recipeIndexTitle {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.indexRecipeSmall {
  width:135px;
}
.test {
  display: flex;
}

.indexRecipeImageDiv .indexRecipe:last-child{
    border-radius: 0 0 15px 15px;
}

.star {
    font-size: 100%;
    color: black;
    filter: drop-shadow(1px 1px 1px black);
}

.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -15px;
    width: 7.5px;
    overflow: hidden;
}





.recipeContainer {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 30px;
  margin:30px 0 50px 0;
}


.timeText{
  color: white;
  filter: drop-shadow(2px 2px 2px orange);
  font-style: italic;

  margin-top: 5px;
}
.userNameText{
  margin-bottom: 0;
}
.recipeEditDelete{
  font-size: 30px;
}

.categoryImageMiniMini{
  margin-top: 5px;
  width: 45px;
  border: groove 5px grey;
  border-radius: 100px;
}

.recipeDiv {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.recipeDescriptionCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.recipeRatingStarContainer {
  /*font-size: 200%;*/
  font-size: 28px;
}

.recipeRatingStarContainer > .star.half:after {
  margin-left: -27px;
  width: 13.5px;
}




.recipeDescriptionMiniDiv1, .recipeDescriptionMiniDiv2 {
  border-right: 1px dotted;
  padding: 0 20px ;
}

.recipeDescriptionMiniDiv3 {
  padding: 0 10px;
}


.recipeDescriptionMini {
  margin-left: 10px;
}

.recipeRatingDiv{
  display: flex;
  justify-content:center
}

.description{
    font-size: 17px;
    width: 60%;
    margin: 0 auto;
}

.recipePhoto {
  width: 40%;
  min-width: 300px;
  border: groove 5px grey;
  margin: 0 auto;
  margin-top: 40px;
  filter: drop-shadow(3px 2px 1px black);
}

.cookingLevelText{
  font-size: 25px;
  margin:12px 0 0 0 ;
  color: orange;
  filter: drop-shadow(1px 1px 1px black);
}

.tryButtonOn, .tryButtonOff{
    font-size: 50px;
    text-decoration: none;
}

.tryButtonOn {
  color: red;
}

.tryButtonOff {
  color: black;
}

.tryButtonOn:visited, .tryButtonOn:visited {
  text-decoration: none;
  font-size: 30px;
}


.ingredientsContainer{
  margin: 0 auto;
  width: 60%;
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px dotted brown;
}

.HeadContainer{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.headImageMini {
  width: 40px;
  height: 40px;
  border: groove 4px grey;
  border-radius: 8px;
}

.headText {
  font-size: 25px;
  margin-left: 10px;
  color: black;
  text-shadow: 1px 1px 2px green;
}


hr{
    width: 60%;
}

.list {
  margin: 10px 0 10px 0;
  text-align: left;
}


input[id="ingredientCheckBox"]:checked + label {
  color: grey;
  font-style: normal;
  text-decoration: line-through;
}




.directionsContainer{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.directionsDiv {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.number {
  vertical-align: middle;
  width: 10%;
}
.number, .directionList {
  margin-top: 15px;
}

.directionList {
  width: 80%;
  text-align: left;
  transition: all 0.7s ease;
  font-weight: bold;
  display: flex;
  position: relative;
}

.hrDirection{
  margin-top: 20px;
  width: 85%;
  border-bottom: groove 5px grey;
}

#directionCheckBox{
  position: absolute;
  left: -30px;
  height: 100%;
  width: 30px;
}

input[id="directionCheckBox"]:checked + label {
  background-color: #ADD8E6;
}







.reviewDiv{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-around;
}
.reviewCommentText {
  width: 95%;
  margin: 0 auto;
}

.reviewEditDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.reviewEditSpace{
  margin: 0 10px 0 10px;
}


input[id="reviewCheckBox"] + label {
  display: none;
}

input[id="reviewCheckBox"]:checked + label {
  display: inline;
}
.reviewBottomTitle{
  font-size: 20px;
  color: gold;
  filter: drop-shadow(1px 1px 1px black);
  font-style:italic;
}
